@import url("var.css");

body{
    /* border: solid; */
    border-width: 20px;
    border-color: black;
    padding: 1.5em;
    margin: 0.2%;
}

/* ------------------------------------------------------------------------- Tout le contenu sauf menu -----------------------------------------------------------------*/

.content{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 95vh;
    margin-top: -6%;
}

/* --------------------------------------------------------------------------- Le titre uniquement -----------------------------------------------------------------*/

.title{
    display:flex;
    align-items: flex-start;
    margin-top: var(--title-position);
}

/* --------------------------------------------------------------------------- Le texte descriptif -----------------------------------------------------------------*/

.start{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--start-position);
}

/* -------------------------------------------------------La position uniquement du menu (pas le contenu, voir style/menu.css ----------------------------------------*/

.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin-bottom: 10%; */
}

@media screen and (max-width: 1280px)
{
    .content{
        height: 90vh;
    }

    .title{
        text-align: center;
    }

    .start{
        text-align: center;
        width:80%;
    }
    
    .menu{
        display:flex;
        justify-content: space-around;
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: auto;
    }
}