.menu_link{
    margin: 8px;
    background-color: var(--blue);
    padding: 8px;
    box-shadow: none;
    transition: box-shadow 0.2s;
    border-radius: var(--border);
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    border: solid;
    border-width: 1.5px;
    border-color: black;
}

.menu_link:hover{
    box-shadow: 7px 7px 0px black;
    border-radius: var(--border-radius);
}

@media screen and (max-width:1280px)
{
    
}

