@import url("var.css");

body{
    padding: 1.5em;
    margin: 0.2%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 95vh;
    margin-top: -6%;
}

.title{
    display: flex;
    align-items: flex-start;
    margin-top: var(--title-position);
}

.start{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--start-position);

}

/*Position du menu*/

.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*Logo MMI Bordeaux, on enlève les paramètres de style mis dans les .a dans fonts.css*/

a.img_link{
    background-color: transparent;
    border: 0px;
    margin-bottom:10px;
    margin-top: -15px;
    padding: 0;
}

.paragraphe{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

/*Disposition des matières*/
.studies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2%;
    width: 60%;
}

.studies h3{
    margin-left: 5%;
}

h2{
    margin-right:15px;
    margin-top: 0%;
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin-bottom: 10%; */
}

@media screen and (max-width: 1280px)
{
    .content{
        height: 90vh;
    }

    .title{
        text-align: center;
    }

    img{
        width:300px;
        height:auto;
    }
    
    .menu{
        display:flex;
        justify-content: space-around;
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: auto;
    }

    .paragraphe{
        width:80%;
    }

    h3{
        font-size:2em;
        margin: 2%;
    }

    .studies{
        width:70%;
        margin-top: 5%;
    }
}